.pagina-inicio {
  width: 90%;
  max-width: 900px;  
  background-color: #3c64d3;
  color: #ffffff;
  padding: 20px;
  margin: 20px auto;   /* centraliza horizontalmente */
  border-radius: 12px;
  letter-spacing: 2px;
  text-align: center;  /* centraliza o texto */
  position: relative;  /* permite ajustes se precisar */
}
