header {
    background-color: #0072bb;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
  }
  
  .menu-principal a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .menu-principal a:hover {
    text-decoration: underline;
  }
  